<div class="search-panel-1">
  <form
    action="/task8/filter-student-attendance?attendance=<%= attendance %>"
    method="POST"
  >
    <label for="inputStudentId">Student ID: </label>
    <input
      type="text"
      name="inputStudentId"
      id="inputStudentId"
      tabindex="1"
      autofocus
    />
    <input type="submit" value="Go" />
  </form>
  <button onclick="toggleDisplay()">Show More</button>
</div>
