<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
  </head>
  <body>
    <form action="/task6/add-student" method="POST">
      <label for="firstName">FirstName: </label>
      <input type="text" name="firstName" id="firstName" /><br /><br />

      <label for="lastName">LastName: </label>
      <input type="text" name="lastName" id="lastName" /><br /><br />

      <label for="age">Age :</label>
      <input type="text" name="age" id="age" /><br /><br />

      <label for="conatactNumeber">Contact Number:</label>
      <input
        type="text"
        name="conatactNumeber"
        id="conatactNumeber"
      /><br /><br />

      <label for="email">Email :</label>
      <input type="text" name="email" id="email" /><br /><br />

      <label for="gender">Gender: </label>
      <input type="radio" name="gender" id="male" value="male" />
      <label for="male">Male</label>
      <input type="radio" name="gender" id="female" value="female" />
      <label for="female">Female</label> <br /><br />

      <label for="">Hobbies: </label>
      <input type="checkbox" name="hobby" id="reading" value="reading" />
      <label for="reading">Reading</label>
      <input type="checkbox" name="hobby" id="traveling" value="traveling" />
      <label for="traveling">Traveling</label>
      <input type="checkbox" name="hobby" id="badminton" value="badminton" />
      <label for="badminton">Badminton</label>
      <input type="checkbox" name="hobby" id="chess" value="chess" />
      <label for="chess">Chess</label><br /><br />

      <label for="address">Address</label>
      <input type="text" name="address" type="address" /><br /><br />

      <input type="submit" value="Create Student" />
    </form>
  </body>
</html>
